body {
	background-image: url("Armin.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 0.9;   
}

.HBB {
	margin: 200px 0px 10px;
	padding: 5px;
	font-family: "Agency FB";
	font-size: 70px;
	color: DodgerBlue;
	background-color: black;
	background-attachment: fixed;
}

.Text {
	margin: 50px 400px;
	padding: 10px;	
	background-color: black;
	color: white;
	font-size: 20px;
	font-family: "Verdana";
	
}



.Down {
		padding: 10px;
		background-color: black;
	}