.BW {
	margin: 0px 0px 10px;
	padding: 5px;
	font-family: "Agency FB";
	font-size: 70px;
	color: DodgerBlue;
	background-color: black;
	background-attachment: fixed;
}

.DescR {
	margin: 50px 68px;
	padding: 10px;	
	background-color: black;
	color: white;
	font-size: 24px;
	font-family: "Verdana";
}

body {
	background-image: url("img2.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 0.9;
}

.LINE {
	padding: 10px;
	background-color: black;
}