.Navigator {
	font-family: "Verdana";
	margin: 0;
	padding: 0;
    overflow: hidden;
    background-color: black;
	list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.BW {
	margin: 200px 0px 10px;
	padding: 5px;
	font-family: "Agency FB";
	font-size: 70px;
	color: orange;
	background-color: black;
	background-attachment: fixed;
}

body {
	background-image: url("Gray.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	opacity: 0.9;   
}